
@{
    ViewBag.Title = "acercaDelCampo";
    Layout = "~/Views/Shared/Otras.cshtml";
}

<div class="container.fluid" vocab="http://schema.org/">
    <div class="cp container bg-light">
        <div class="row justify-content-center">
            <div class="col-11">
                <h5>Contacto</h5>
                <div class="form" id="contacto" >
                    <p property="Contacto">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur
                        dolores nulla
                        iste
                        porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea
                        laboriosam suscipit
                        earum
                        natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci
                        eaque dolore
                        numquam
                        soluta magnam autem reiciendis non.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur
                        dolores nulla
                        iste
                        porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea
                        laboriosam suscipit
                        earum
                        natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci
                        eaque dolore
                        numquam
                        soluta magnam autem reiciendis non.
                    </p>
                </div>
                <hr>


                <h5 id="sn" >Sobre Nosotros</h5>
                <p property="Sobre-Nosotros">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                    nulla iste
                    porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                    suscipit
                    earum
                    natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                    dolore
                    numquam
                    soluta magnam autem reiciendis non.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                    nulla iste
                    porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                    suscipit
                    earum
                    natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                    dolore
                    numquam
                    soluta magnam autem reiciendis non.
                </p>
                <hr>

                <h5 id="np" >Nuestras Politicas</h5>
                <p property="Nuestras-Politicas">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                    nulla iste
                    porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                    suscipit
                    earum
                    natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                    dolore
                    numquam
                    soluta magnam autem reiciendis non.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                    nulla iste
                    porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                    suscipit
                    earum
                    natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                    dolore
                    numquam
                    soluta magnam autem reiciendis non.
                </p>
      
            </div>
        </div>
    </div>

</div>

