
@{
    ViewBag.Title = "registrarse";
    Layout = "~/Views/Registrar/Registrar.cshtml";
}

<div class="container-fluid">
    <div class="container cp">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row ">
                    <form method="POST" class="frm">
                        <h5><b>Ingresa tus datos</b></h5>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <label for="validationDefault01" class="form-label" id="name1">Nombres</label>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>

                        <div class="row justify-content-center ">
                            <div class="col-md-5 ">
                                <input type="text" class="form-control bg-light" id="validationDefault01"
                                       aria-required="true" autocomplete="chrome-off" aria-label="Nombre" rows="1"
                                       class="andes-form-control__field" maxlength="30" required>
                                <span id="passwordHelpInline" class="form-text">
                                    Primer nombre
                                </span>
                                <!--<div class="andes-form-control__embedded">
                                    <div id="firstName" class="hidden-aria-describe" aria-hidden="true">Nombre
                                        Ingrésalo tal como figura en tu documento.</div>
                                </div>-->
                            </div>

                            <div class="col-md-5 ">
                                <input type="text" class="form-control bg-light" id="validationDefault02"
                                       placeholder="Opcional" autocomplete="chrome-off" aria-label="Nombre" rows="1"
                                       class="andes-form-control__field" maxlength="30">
                                <span id="passwordHelpInline" class="form-text">
                                    Segundo nombre
                                </span>
                            </div>
                        </div>
                        <br>

                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <label for="validationDefault01" class="form-label ">Apellidos</label>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>

                        <div class="row justify-content-center ">

                            <div class="col-md-5 ">
                                <input type="text" class="form-control bg-light" id="validationCustom01"
                                       aria-required="true" autocomplete="chrome-off" rows="1" maxlength="30" required>
                                <span id="passwordHelpInline" class="form-text">
                                    Primer apellido
                                </span>
                            </div>

                            <div class="col-md-5">

                                <input type="text" class="form-control bg-light" id="validationDefault02"
                                       placeholder="Opcional" autocomplete="chrome-off" aria-label="Nombre" rows="1"
                                       class="andes-form-control__field" maxlength="30">
                                <span id="passwordHelpInline" class="form-text">
                                    Segundo apellido
                                </span>
                            </div>
                        </div>
                        <br>

                        <div class="row justify-content-center ">
                            <div class="col-md-5 ">
                                <select class="form-select" aria-label="Default select example" required>
                                    <option><b>Departamento</b></option>
                                    <option value="1">AMAZONAS</option>
                                    <option value="2">ANTIOQUIA</option>
                                    <option value="3">ARAUCA</option>
                                    <option value="4">ATLÁNTICO</option>
                                    <option value="5">BOLÍVAR</option>
                                    <option value="6">BOYACÁ</option>
                                    <option value="7">CALDAS</option>
                                    <option value="8">CAQUETÁ</option>
                                    <option value="9">CASANARE</option>
                                    <option value="10">CAUCA</option>
                                    <option value="11">CESAR</option>
                                    <option value="12">CHOCÓ</option>
                                    <option value="13">CÓRDOBA</option>
                                    <option value="14">CUNDINAMARCA</option>
                                    <option value="15">GUAINÍA</option>
                                    <option value="16">GUAVIARE</option>
                                    <option value="17">HUILA</option>
                                    <option value="18">LA GUAJIRA</option>
                                    <option value="19">MAGDALENA</option>
                                    <option value="20">META</option>
                                    <option value="21">NARÍÑO</option>
                                    <option value="22">NORTE DE SANTANDER</option>
                                    <option value="23">PUTUMAYO</option>
                                    <option value="24">QUINDÍO</option>
                                    <option value="25">RISARALDA</option>
                                    <option value="26">SAN ANDRÉS Y PROVIDENCIA</option>
                                    <option value="27">SANTANDER</option>
                                    <option value="28">SUCRE</option>
                                    <option value="29">TOLIMA</option>
                                    <option value="30">VALLE</option>
                                    <option value="31">VAUPÉS</option>
                                    <option value="32">VICHADA</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="form-select" aria-label="Default select example" required>
                                    <option value="">Municipio</option>
                                    <option value="Arauca">Arauca</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Barranquilla">Barranquilla</option>
                                    <option value="Bogotá">Bogotá</option>
                                    <option value="Bucaramanga">Bucaramanga</option>
                                    <option value="Cali">Cali</option>
                                    <option value="Cartagena">Cartagena</option>
                                    <option value="Cúcuta">Cúcuta</option>
                                    <option value="Florencia">Florencia</option>
                                    <option value="Ibagué">Ibagué</option>
                                    <option value="Leticia">Leticia</option>
                                    <option value="Manizales">Manizales</option>
                                    <option value="Medellín">Medellín</option>
                                    <option value="Mitú">Mitú</option>
                                    <option value="Mocoa">Mocoa</option>
                                    <option value="Montería">Montería</option>
                                    <option value="Neiva">Neiva</option>
                                    <option value="Pasto">Pasto</option>
                                    <option value="Pereira">Pereira</option>
                                    <option value="Popayán">Popayán</option>
                                    <option value="Puerto Carreño">Puerto Carreño</option>
                                    <option value="Puerto Inírida">Puerto Inírida</option>
                                    <option value="Quibdó">Quibdó</option>
                                    <option value="Riohacha">Riohacha</option>
                                    <option value="San Andrés">San Andrés</option>
                                    <option value="San José del Guaviare">San José del Guaviare</option>
                                    <option value="Santa Marta">Santa Marta</option>
                                    <option value="Sincelejo">Sincelejo</option>
                                    <option value="Tunja">Tunja</option>
                                    <option value="Valledupar">Valledupar</option>
                                    <option value="Villavicencio">Villavicencio</option>
                                    <option value="Yopal">Yopal</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="row justify-content-center ">
                            <div class="col-md-5 ">
                                <label for="exampleFormControlInput1" class="form-label ">Dirección</label>
                                <input type="text" class="form-control bg-light" id="exampleFormControlInput1"
                                       required>
                            </div>
                            <div class="col-md-5">
                                <label for="validationDefault02" class="form-label ">Teléfono</label>
                                <input type="password" class="form-control bg-light" id="validationDefault02"
                                       required>
                            </div>
                        </div>
                        <br>

                        <div class="row justify-content-center ">
                            <div class="col-md-5 ">
                                <label for="exampleFormControlInput1" class="form-label ">Email</label>
                                <input type="text" class="form-control bg-light" id="exampleFormControlInput1"
                                       placeholder="Ejemplo: juan@gmail.com" required>
                                <span id="passwordHelpInline" class="form-text">
                                    El email debe ser valido
                                </span>
                            </div>
                            <div class="col-md-5">
                                <label for="validationDefault02" class="form-label ">Contraseña</label>
                                <input type="password" class="form-control bg-light" id="validationDefault02"
                                       required>
                                <span id="passwordHelpInline" class="form-text">
                                    Debe tener entre 8-20 caracteres
                                </span>
                            </div>
                        </div>
                        <br>

                        <div class="row justify-content-center">

                            <div class="col-md-4">
                                <select class="form-select" aria-label="Default select example" required>
                                    <option><b>Registrarme como:</b></option>
                                    <option value="1">Cliente</option>
                                    <option value="2">Vendedor</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="d-grid gap-2 col-md-5 mx-auto">
                            <button class="btn btn-success bg-gradient" id="regg">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

