*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    background-color: #f8f1f1; 
}

.body2{
    display: flex;
    margin-bottom: 2em;
}

header {
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    width: 100%;
    height: 110px;
    background: #289672;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header img{
    float: left;
    margin-left: 90px;
    padding-bottom: 10px;   
    width: 120px;
    height: 70px;
}

.logo img{
    margin-left: 0;
}

.buscar{
    padding-top: 10px;
    position: absolute;
    float: left;
    margin-left: 8%;
    width: 450px;
    font-weight: 600;
    font-size: medium;
}

/*-------------MENUS-------------*/

/*ORGANIZA DE MANERA HORIZONTAL EL MENU DE BOTONES*/

.menu ul {
    float: right;
    font-style: oblique;
    display: flexbox;
    list-style: none;
}

.menu a{
    float: right;
    display: block;
    padding: 0px 25px;
    color: black;
    text-decoration: none;
}

.dropdown-item{
    margin-top: 10px;
}


.logo img{
    margin-left: 0;
}

h2{
    text-align: center;
    margin: 10px;
    font-style: oblique;
    margin-right: auto;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

h6{
    font-weight: bold;  
}

.acount{
    margin-left: 20px;
    width: 270px;
    height: 100%;
}

.acount a{
    text-decoration: none;
    color: black;
}


.cp{
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    padding-bottom: 0;
 }


/*publicaciones*/
.cpp{
    display: flex;
    margin-left: 8em;
    margin-right: 8em;
    padding: 2em;
    padding-bottom: 0;
 }

.logo2{
    background-color: #f8f1f1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.img{
    height: 100px;
}

.imgp{
    height: 100px;
}

.items{
  padding: 2em;
  margin-bottom: 2em;
}

.items a{
    text-decoration: none;
}

.dts{
    background-color: white;
    height: 60px;
    border-radius: 0px;
    padding: 20px;
    }

.dts a{
    text-decoration: none;
}

/*formulario publicacion*/

.fm{
    position: absolute;
    display: none;
    margin-left: 51%;
    margin-top: 4%;
    width: 550px;
}

.newp{
    background-color: whitesmoke;
    border-radius: 2px;
    padding: 1em;
    width: auto;
    -webkit-box-shadow: 0 2px 2px #888888; /*Sombreado del contenedor global*/
    -moz-box-shadow: 0 2px 2px #888888;
    box-shadow: 0 0 2px #888888; 
}

#okp:hover{
    color: white;
}

#close:hover{
    color: white;
}

/*RESPONSIVE*/
@media (max-width:380px) {
    header {
        text-align: center;
        padding-top: 15px;
        font-weight: bold;
        width: 100%;
        height: 240px;
        background: #289672;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .menu ul {
        float: right;
        font-style: oblique;
        display: flexbox;
        list-style: none;
    }
    
    .menu a{
        float: right;
        display: block;
        padding: 0px 25px;
        color: black;
        text-decoration: none;
    }

}